<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.amazon.utility.ListenerClass"></listener>
    </listeners>
    <test thread-count="5" name="Sanity">
        <parameter name="browser" value="chrome"></parameter>
        <groups>
            <run>
                <include name="Sanity"></include>
            </run>
        </groups>
        <classes>
            <class name="com.amazon.testcases.IndexPageTest">

            </class>
            <class name="com.amazon.testcases.LoginPageTest">

            </class>
            <class name="com.amazon.testcases.SearchResultsPageTest">

            </class>
        </classes>
    </test>
</suite>